@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 0;
  background-color: #f3f4f6;
}

button,
input,
select {
  font: inherit;
}

:root {
  /* Este é o verde padrão temporário. 
     Depois, o React vai mudar esse valor sozinho dependendo da agência! */
  --cor-agencia: #4CAF50; 
}
